@import url("https://fonts.googleapis.com/css?family=Amaranth|Anton|Open+Sans|Patrick+Hand|Ubuntu");
/*navbar 1 starts*/
.navbar {
  border-radius: 0;
  min-height: 35px;
  margin-bottom: 0;
}

.navbar-right {
  margin-right: 50px;
}

.navbar-brand {
  font-size: 12px;
  padding-left: 100px;
}

.navbar-inverse .navbar-brand:hover {
  color: #18d96e;
}

.navbar-inverse {
  background-color: #484848;
  border-color: #484848;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #fff;
  background-color: #18d96e;
  border-radius: 4px;
}

/*navbar 2 starts*/
.navbar2 {
  min-height: 90px;
  color: black;
  box-shadow: 0px 0px 15px gray;
}

.navber2font {
  padding-top: 20px;
  margin-right: 50px;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #18d96e;
  border-radius: 4px;
}

.bar {
  border-right: 2px solid black;
  padding-right: 20px;
}

.fa-shopping-cart {
  color: #18d96e;
}

/*login accounts starts*/
#signUp {
  background-color: white;
  padding-top: 30px;
  font-family: 'Patrick Hand', cursive;
}
#signUp span {
  color: red;
}
#signUp .form-control {
  border-radius: 0;
}
#signUp .btn-default {
  background-color: #373737;
  color: white;
  width: 100px;
  border-radius: 0;
  margin-top: 20px;
}
#signUp .required {
  color: red;
}
#signUp .back {
  position: relative;
  top: 20px;
  margin-right: -200px;
}

/*service2 start*/
#service2 {
  margin-top: 60px;
  padding-top: 20px;
  background-color: #18d96e;
  padding-bottom: 20px;
}

/*footer start*/
#footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  color: #18d96e;
}
#footer .firstDiv {
  position: absolute;
  padding-top: 220px;
  margin-left: 110px;
}

/*footer2 start*/
#footer1 {
  background-color: #484848;
  padding-top: 20px;
  padding-bottom: 20px;
}
#footer1 p {
  color: gainsboro;
}
